<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Between the Lines</title>
    <meta name="description" content="Utenti disponibili">
    <meta name="author" content="Tech-Worms">
     <link rel="stylesheet" href="style/profilo.css">
</head>
<body class="profile-page">
    <div class="vice-capo">
    <div class="header-main">
      
    <a th:href="@{/}">
    <img src="/img/logo.jpg" alt="Logo Home" class="logo-button" />
    </a>
        <div class="profile-info-header">
            
          <h1><span th:text="${userLoggato.username}">Utente</span></h1>
        </div>
        
        <form th:action="@{/logout}" method="post">
            <button type="submit" id="logoutBtn" class="header-button logout-button">Esci</button>
        </form>
        
    </div>

     <nav class="main-menu">
        <form th:action="@{/adminUsers}" method="get" style="display: inline;">
        <button type="submit" id="profileBtn" class="menu-button">
        Utenti
        </button>
        </form>

        <form th:action="@{/adminLibri}" method="get" style="display: inline;">
            <button type="submit" id="profileBtn" class="menu-button">
            Libri
        </button>
        </form>

        <form th:action="@{/adminChallenge}" method="get" style="display: inline;">
        <button type="submit" id="challengeBtn" class="menu-button">
        Challenge
        </button>
        </form>

    </nav>

    <div class="contenitore-principale">
<h1>Lista Utenti del sito</h1>
<div class="card-container">
    <div class="challenge-card" th:each="user : ${listaUsers}">
        <div class="card-row">
            <strong>Username:</strong> <span class="challenge-name" th:text="${user.username}">Mario Rossi</span>
        </div>
        <div class="card-row">
            <strong>Email:</strong> <span th:text="${user.email}">email@email</span>
        </div>
        <div class="card-row">
            <strong>Punteggio:</strong> <span th:text="${user.punteggio}">10</span>
        </div>

        <form th:action="@{/adminRimuoviUtente}" method="post">
            <input type="hidden" name="username" th:value="${user.username}" />
            <input type="hidden" name="nomeLibreria" th:value="${user.nomeLibreria}" />
            <button type="submit" class="action-button">Rimuovi</button>
        </form>
    </div>
</div>

</body>
</html>
