<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Utenti disponibili</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/profilo.css">
</head>
<body class="profile-page">
    <div class="vice-capo">
    <div class="header-main">
      
    <a th:href="@{/}">
    <img src="/img/logo.jpg" alt="Logo Home" class="logo-button" />
    </a>
       <div class="profile-info-header">
          <h1>
          <span th:text="${userLoggato.username}">Utente</span>
          </h1>
        </div> 
        
        <form th:action="@{/logout}" method="post">
            <button type="submit" id="logoutBtn" class="header-button logout-button">Esci</button>
        </form>
        
    </div>

     <nav class="main-menu">
        <form th:action="@{/adminUsers}" method="get" style="display: inline;">
        <button type="submit" id="profileBtn" class="menu-button">
        Utenti
        </button>
        </form>

        <form th:action="@{/adminLibri}" method="get" style="display: inline;">
            <button type="submit" id="profileBtn" class="menu-button">
            Libri
        </button>
        </form>

        <form th:action="@{/adminChallenge}" method="get" style="display: inline;">
        <button type="submit" id="challengeBtn" class="menu-button">
        Challenge
        </button>
        </form>

    </nav>

    <div class="contenitore-principale">
        <h2>Conferma Eliminazione</h2>
        <p>Sei sicuro di voler eliminare l'utente <strong><span th:text="${username}">Username</span></strong></p>
        <p>Questa azione eliminerà l'utente e tutti i dati collegati, inclusa la sua libreria.</p>

        <form th:action="@{/adminEliminazioneConfermata}" method="post">
            <input type="hidden" name="nomeLibreria" th:value="${nomeLibreria}" />
            <input type="hidden" name="username" th:value="${username}" />
            
            <button class="action-button" type="submit">Sì, elimina</button>
            <a th:href="@{/adminUsers}"><button class="safe-button" type="button">No, annulla</button></a>
        </form>

    </div>

</body>
</html>
