<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Approva Libro</title>
    <link rel="stylesheet" href="style/profilo.css">
</head>
<body class="profile-page">
    <div class="vice-capo">
    <div class="header-main">
      
    <a th:href="@{/}">
    <img src="/img/logo.jpg" alt="Logo Home" class="logo-button" />
    </a>
    <div class="profile-info-header">
          <h1>
          <span th:text="${userLoggato.username}">Utente</span>
          </h1>
        </div>
        <form th:action="@{/logout}" method="post">
            <button type="submit" id="logoutBtn" class="header-button logout-button">Esci</button>
        </form>
        
    </div>

     <nav class="main-menu">
        <form th:action="@{/adminUsers}" method="get" style="display: inline;">
        <button type="submit" id="profileBtn" class="menu-button">
        Utenti
        </button>
        </form>

        <form th:action="@{/adminLibri}" method="get" style="display: inline;">
            <button type="submit" id="profileBtn" class="menu-button">
            Libri
        </button>
        </form>

        <form th:action="@{/adminChallenge}" method="get" style="display: inline;">
        <button type="submit" id="challengeBtn" class="menu-button">
        Challenge
        </button>
        </form>

    </nav>

    <div class="contenitore-principale">

      <h1 class="title-pink" th:text="${libro.titoloMod}">Titolo Libro</h1>

    <img class="copertina" th:src="${libro.copertinaMod}" alt="Copertina del libro"/>

    <div class="info">
        <p class="card-row"><strong>Autore:</strong> <span th:text="${libro.autoreMod}">Autore</span></p>
        <p class="card-row"><strong>Genere:</strong> <span th:text="${libro.genereMod}">Genere</span></p>
    </div>

    <div style="display: flex; gap: 10px; margin-top: 25px">
    <form th:action="@{/adminConfermaLibro}" method="post">
        <input type="hidden" name="idLibroModeratore" th:value="${libro.id}">
        <button type="submit" class="safe-button">Conferma Libro</button>
    </form>

    <form th:action="@{/adminRimuoviLibro}" method="post">
        <input type="hidden" name="idLibroModeratore" th:value="${libro.id}">
        <button type="submit" class="action-button">Rimuovi Libro</button>
    </form>
</div>

</div>

</body>
</html>
