<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Conferma Eliminazione Utente</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/profilo.css">
   
</head>
<body class="profile-page">
    <div class="vice-capo">
        <div class="header-main">
      
    <a th:href="@{/}">
    <img src="/img/logo.jpg" alt="Logo Home" class="logo-button" />
    </a>

        
        
        <form th:action="@{/logout}" method="post">
            <button type="submit" id="logoutBtn" class="header-button logout-button">Esci</button>
        </form>
        
    </div>

    <nav class="main-menu">
        <form th:action="@{/preProfilo}" method="get" style="display: inline;">
        <button type="submit" id="profileBtn" class="menu-button">
        Profilo
        </button>
        </form>

        <form th:action="@{/libri}" method="get" style="display: inline;">
            <button type="submit" id="profileBtn" class="menu-button">
            Libri
        </button>
        </form>

        <form th:action="@{/preChallenge}" method="get" style="display: inline;">
        <button type="submit" id="challengeBtn" class="menu-button">
        Challenge
        </button>
        </form>

    </nav>
    
    <div class="libreria-info-container">
        <h2>Libreria Aggiornata</h2>
        <p>Hai aggiunto un nuovo libro alla tua libreria</p>
        <p><strong>Adesso il libro sarà disponibile nella tua libreria pronto per essere letto</strong></p>

        <form th:action="@{/libreria}" method="get">
            
            <button class="standard-button" type="submit">Torna alla tua Libreria</button>
            <a th:href="@{/libri}"><button class="standard-button" type="button">Lista Libri</button></a>
        </form>
    </div>
</div>
</body>
</html>
