<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Between the Lines</title>
    <meta name="description" content="Classifica Globale">
    <meta name="author" content="Tech-Worms">
    <link rel="stylesheet" href="style/profilo.css">
   
</head>
<body class="profile-page">
    <div class="vice-capo">
    <div class="header-main">
      
    <a th:href="@{/}">
    <img src="/img/logo.jpg" alt="Logo Home" class="logo-button" />
    </a>
        <div class="profile-info-header">
            
            <h1 id="usernameDisplay" th:text="${userLoggato.username}">Username</h1><p id="userScore" th:text="'Punteggio: ' + ${userLoggato.punteggio} + ' punti'">Punteggio: 1250 punti</p>
        </div>
        
        <form th:action="@{/logout}" method="post">
            <button type="submit" id="logoutBtn" class="header-button logout-button">Esci</button>
        </form>
        
    </div>

     <nav class="main-menu">
        <form th:action="@{/preProfilo}" method="get" style="display: inline;">
        <button type="submit" id="profileBtn" class="menu-button">
        Profilo
        </button>
        </form>

        <form th:action="@{/libri}" method="get" style="display: inline;">
            <button type="submit" id="profileBtn" class="menu-button">
            Libri
        </button>
        </form>

        <form th:action="@{/preChallenge}" method="get" style="display: inline;">
        <button type="submit" id="challengeBtn" class="menu-button">
        Challenge
        </button>
        </form>

    </nav>

    <div class="libreria-info-container">

<h1>Classifica Globale Utenti</h1>
<div class="card-container">
        <div class="challenge-card" 
            th:each="partecipante, stat : ${classifica}" 
            th:classappend="${stat.index == 0} ? ' primo-posto' : ''">

            <div class="card-row">
                <strong>Posizione:</strong> <span th:text="${stat.index + 1}">1</span>
            </div>
            <div class="card-row">
                <strong>Username:</strong> <span class="challenge-name" th:text="${partecipante.username}">Mario Rossi</span>
            </div>
            <div class="card-row">
                <strong>Punteggio:</strong> <span th:text="${partecipante.punteggio}">10</span>
            </div>
        </div>
    </div>
<form th:action="@{/}" method="get">
        <button type="submit" class="standard-button">Torna alla Home</button>
    </form>


</div>
</body>
</html>
