<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Conferma Partecipazione</title>
    <link rel="stylesheet" href="style/profilo.css">
   
</head>
<body class="profile-page">
    <div class="vice-capo">
        <div class="header-main">
      
    <a th:href="@{/}">
    <img src="/img/logo.jpg" alt="Logo Home" class="logo-button" />
    </a>

        
        
        <form th:action="@{/logout}" method="post">
            <button type="submit" id="logoutBtn" class="header-button logout-button">Esci</button>
        </form>
        
    </div>

    <nav class="main-menu">
        <form th:action="@{/preProfilo}" method="get" style="display: inline;">
        <button type="submit" id="profileBtn" class="menu-button">
        Profilo
        </button>
        </form>

        <form th:action="@{/libri}" method="get" style="display: inline;">
            <button type="submit" id="profileBtn" class="menu-button">
            Libri
        </button>
        </form>

        <form th:action="@{/preChallenge}" method="get" style="display: inline;">
        <button type="submit" id="challengeBtn" class="menu-button">
        Challenge
        </button>
        </form>

    </nav>
    
    <div class="contenitore-principale">
      
        <h1>Complimenti <span th:text="${userLoggato.username}">Utente</span>!</h1>
        <p >Adesso stai partecipando alla <strong th:text="${nomeChallange}">Nome Challenge</strong> che durerà fino al 
            <span  th:text="${#temporals.format(fineChallange, 'dd/MM/yyyy')}">10/06/2025</span>.</p>
            
        <form th:action="@{/vediChallange}" method="get">
        <button type="submit" class="standard-button">Vai alla pagina Challenge</button>
    </form>
    </div>
</body>
</html>
