<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Libro Letto - Conferma</title>
     <link rel="stylesheet" href="style/profilo.css">
   
</head>
<body class="profile-page">
     <div class="vice-capo">
    <div class="header-main">
        
      
    <a th:href="@{/}">
    <img src="/img/logo.jpg" alt="Logo Home" class="logo-button" />
    </a>
        
        
        <form th:action="@{/logout}" method="post">
            <button type="submit" id="logoutBtn" class="header-button logout-button">Esci</button>
        </form>
        
    </div>

     <nav class="main-menu">
        <form th:action="@{/preProfilo}" method="get" style="display: inline;">
        <button type="submit" id="profileBtn" class="menu-button">
        Profilo
        </button>
        </form>

        <form th:action="@{/libri}" method="get" style="display: inline;">
            <button type="submit" id="profileBtn" class="menu-button">
            Libri
        </button>
        </form>

        <form th:action="@{/preChallenge}" method="get" style="display: inline;">
        <button type="submit" id="challengeBtn" class="menu-button">
        Challenge
        </button>
        </form>

    </nav>
    <!-- MESSAGGIO DI CONFERMA -->
   <div class="libreria-info-container">
        <p th:text="'Complimenti ' + ${userLoggato.username} + '! Hai letto un libro con successo.'"></p>
        <p>Hai guadagnato 1 punto globale</p>
        <p>E 1 punto per ogni challenge a cui partecipi</p>
        <p>che rispetti i requisiti richiesti</p>

        <form th:action="@{/libreria}" method="get">
            <button class="standard-button" type="submit">Torna alla Libreria</button>
        </form>
    </div>
</div>
</body>
</html>
