<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Conferma Creazione Challenge</title>
    <link rel="stylesheet" href="style/profilo.css">
   
</head>
<body class="profile-page">
    <div class="vice-capo">
    <div class="header-main">
      
    <a th:href="@{/}">
    <img src="/img/logo.jpg" alt="Logo Home" class="logo-button" />
    </a>
        <div class="profile-info-header">
            
            <h1 id="usernameDisplay" th:text="${userLoggato.username}">Username</h1><p id="userScore" th:text="'Punteggio: ' + ${userLoggato.punteggio} + ' punti'">Punteggio: 1250 punti</p>
        </div>
        
        <form th:action="@{/logout}" method="post">
            <button type="submit" id="logoutBtn" class="header-button logout-button">Esci</button>
        </form>
        
    </div>

     <nav class="main-menu">
        <form th:action="@{/preProfilo}" method="get" style="display: inline;">
        <button type="submit" id="profileBtn" class="menu-button">
        Profilo
        </button>
        </form>

        <form th:action="@{/libri}" method="get" style="display: inline;">
            <button type="submit" id="profileBtn" class="menu-button">
            Libri
        </button>
        </form>

        <form th:action="@{/preChallenge}" method="get" style="display: inline;">
        <button type="submit" id="challengeBtn" class="menu-button">
        Challenge
        </button>
        </form>

    </nav>

    <div class="libreria-info-container">
    <h1 class="card-title">Classifica Challenge</h1>

    <div class="card-container">
        <div class="challenge-card" 
            th:each="partecipante, stat : ${challange}" 
            th:classappend="${stat.index == 0} ? ' primo-posto' : ''">

            <div class="card-row">
                <strong>Posizione:</strong> <span th:text="${stat.index + 1}">1</span>
            </div>
            <div class="card-row">
                <strong>Partecipante:</strong> <span class="challenge-name" th:text="${partecipante.nomePartecipante}">Mario Rossi</span>
            </div>
            <div class="card-row">
                <strong>Data Inizio:</strong> <span th:text="${#temporals.format(partecipante.dataInizio, 'dd/MM/yyyy')}">02/06/2025</span>
            </div>
            
            <div class="card-row">
                <strong>Punteggio:</strong> <span th:text="${partecipante.punteggio}">100</span>
            </div>
        </div>
    </div>

    <form th:action="@{/addPartecipante}" method="post" style="margin-top: 20px;">
    <input type="hidden" name="nomeChallange" th:value="${nomeChallange}" />
    <input type="hidden" name="fineChallange" th:value="${#temporals.format(fineChallange, 'yyyy-MM-dd')}" />
    <button type="submit" class="safe-button">
        Partecipa alla Challenge
    </button>
</form>

    <h3 class="profile-title" style="margin-top: 40px;">
        Questa Challenge sarà attiva fino al
        <span th:text="${#temporals.format(fineChallange, 'dd/MM/yyyy')}">10/06/2025</span>
    </h3>
<div class="buttons">
   
    <a class="details-button" th:href="@{/vediChallange}">Vai alla Challenge Page</a>
</div>
    
</div>
    </div>

</body>
</html>
