<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Leggi: ' + ${libro.titolo}">Leggi Libro</title>
       <link rel="stylesheet" href="style/profilo.css">
   
</head>
<body class="profile-page">
    <div class="vice-capo">
    <div class="header-main">
      
    <a th:href="@{/}">
    <img src="/img/logo.jpg" alt="Logo Home" class="logo-button" />
    </a>
        <div class="profile-info-header">
            
            <h1 id="usernameDisplay" th:text="${userLoggato.username}">Username</h1><p id="userScore" th:text="'Punteggio: ' + ${userLoggato.punteggio} + ' punti'">Punteggio: 1250 punti</p>
        </div>
        
        <form th:action="@{/logout}" method="post">
            <button type="submit" id="logoutBtn" class="header-button logout-button">Esci</button>
        </form>
        
    </div>

     <nav class="main-menu">
        <form th:action="@{/preProfilo}" method="get" style="display: inline;">
        <button type="submit" id="profileBtn" class="menu-button">
        Profilo
        </button>
        </form>

        <form th:action="@{/libri}" method="get" style="display: inline;">
            <button type="submit" id="profileBtn" class="menu-button">
            Libri
        </button>
        </form>

        <form th:action="@{/preChallenge}" method="get" style="display: inline;">
        <button type="submit" id="challengeBtn" class="menu-button">
        Challenge
        </button>
        </form>

    </nav>

   <div class="contenitore-principale">
        
    <h1 class="title-pink" th:text="${libro.titolo}">Titolo Libro</h1>

    <img class="copertina" th:src="${libro.copertina}" alt="Copertina del libro"/>

    <div class="info">
        <p class="card-row"><strong>Autore:</strong> <span th:text="${libro.autore}">Autore</span></p>
        <p class="card-row"><strong>Genere:</strong> <span th:text="${libro.genere}">Genere</span></p>
        <p class="card-row"><strong>Letture:</strong> <span th:text="${libro.letture}">0</span></p>
    </div>

    
        
       
    
    <form th:action="@{/confermaLibroLetto}" method="post">
        <input type="hidden" name="idLibro" th:value="${libro.id}">
        <button type="submit" class="standard-button">Conferma Lettura</button>
    </form>
    

</div>



</body>
</html>
