<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Between the Lines</title>
    <meta name="description" content="Accedi a Between the Lines">
    <meta name="author" content="Tech-Worms">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/accedi.css">
</head>
<body class="signin-page">
    <div class="signin-container">
        <h1>Accedi a Between the Lines</h1>
        <form id="signinForm" th:action="@{/login}" method="post">
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="username" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <input type="submit" class="signin-button" value="Accedi">
        </form>
        <p class="register-link">
            Non hai un account? <a th:href="@{/registerPage}">Registrati ora!</a>
        </p>
           
        
        <form th:action="@{/}" method="get" style="display: inline;">
        <button type="submit" id="backToHomeBtn" class="secondary-button">
        Torna alla pagina iniziale
    </button>
  </form>
    
    </div>

    <script src="accedi.js"></script>

    <footer>
        <p>&copy; 2025 TBR s.p.a</p>
    </footer>
</body>
</html>