<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pre Challenge</title>
    <link rel="stylesheet" href="style/profilo.css">
</head>
<body class="profile-page">
    <div class="vice-capo">
    <div class="header-main">
      
    <a th:href="@{/}">
    <img src="/img/logo.jpg" alt="Logo Home" class="logo-button" />
    </a>
        <div class="profile-info-header">
            
            <h1 id="usernameDisplay" th:text="${userLoggato.username}">Username</h1><p id="userScore" th:text="'Punteggio: ' + ${userLoggato.punteggio} + ' punti'">Punteggio: 1250 punti</p>
        </div>
        
        <form th:action="@{/logout}" method="post">
            <button type="submit" id="logoutBtn" class="header-button logout-button">Esci</button>
        </form>
        
    </div>

     <nav class="main-menu">
        <form th:action="@{/preProfilo}" method="get" style="display: inline;">
        <button type="submit" id="profileBtn" class="menu-button">
        Profilo
        </button>
        </form>

        <form th:action="@{/libri}" method="get" style="display: inline;">
            <button type="submit" id="profileBtn" class="menu-button">
            Libri
        </button>
        </form>

        <form th:action="@{/preChallenge}" method="get" style="display: inline;">
        <button type="submit" id="challengeBtn" class="menu-button">
        Challenge
        </button>
        </form>

    </nav>

    <div class="contenitore-principale">
        <nav class="profile-vertical-menu">
        <form th:action="@{/preCreaChallange}" method="get">
            <button type="submit" class="menu-button">Crea Challenge</button>
        </form>

        <form th:action="@{/vediChallange}" method="get">
            <button type="submit" class="menu-button">Vedi Challenge</button>
        </form>

        <form th:action="@{/classificaGlobale}" method="get">
            <button type="submit" class="menu-button">Classifica Globale</button>
        </form>
    </div>
</div>
</body>
</html>
