<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Conferma Eliminazione Utente</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/profilo.css">
   
</head>
<body class="profile-page">
    <div class="vice-capo">
        <div class="header-main">
      
    <a th:href="@{/}">
    <img src="/img/logo.jpg" alt="Logo Home" class="logo-button" />
    </a>

        
        
        <form th:action="@{/logout}" method="post">
            <button type="submit" id="logoutBtn" class="header-button logout-button">Esci</button>
        </form>
        
    </div>

    <nav class="main-menu">
        <form th:action="@{/preProfilo}" method="get" style="display: inline;">
        <button type="submit" id="profileBtn" class="menu-button">
        Profilo
        </button>
        </form>

        <form th:action="@{/libri}" method="get" style="display: inline;">
            <button type="submit" id="profileBtn" class="menu-button">
            Libri
        </button>
        </form>

        <form th:action="@{/preChallenge}" method="get" style="display: inline;">
        <button type="submit" id="challengeBtn" class="menu-button">
        Challenge
        </button>
        </form>

    </nav>
    
  
    

    <div class="signin-container">
        <h2>Aggiungi i Dati Del Libro Che Vuoi Inserire</h2>
        <form th:action="@{/proponiCrealibro}" method="post">
    <div class="input-group">
        <label for="titolo">Titolo:</label>
        <input type="text" id="titolo" name="titolo" required />
    </div>

    <div class="input-group">
        <label for="genere">Genere:</label>
        <input type="text" id="genere" name="genere" required>
    </div>

    <div class="input-group">
        <label for="autore">Autore:</label>
        <input type="text" id="autore" name="autore" required>
    </div>

    <div class="input-group">
        <label for="immagineCopertina">URL Immagine Copertina:</label>
        <input type="text" id="immagineCopertina" name="immagineCopertina" required>
    </div>

    <button type="submit" class="signin-button">Salva</button>
</form>

</div>
    

</body>
</html>
