<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Between the Lines</title>
    <meta name="description" content="Vetrina Login">
    <meta name="author" content="Tech-Worms">
       <link rel="stylesheet" href="style/profilo.css">
</head>
<body class="profile-page">
    <div class="vice-capo">
    <div class="header-main">
      
    <a th:href="@{/}">
    <img src="/img/logo.jpg" alt="Logo Home" class="logo-button" />
    </a>
        <div class="profile-info-header">
            
          <h1><span th:text="${userLoggato.username}">Utente</span></h1>
        </div>
        
        <form th:action="@{/logout}" method="post">
            <button type="submit" id="logoutBtn" class="header-button logout-button">Esci</button>
        </form>
        
    </div>

     <!--<nav class="main-menu">
        <form th:action="@{/adminUsers}" method="get" style="display: inline;">
        <button type="submit" id="profileBtn" class="menu-button">
        Utenti
        </button>
        </form>

        <form th:action="@{/adminLibri}" method="get" style="display: inline;">
            <button type="submit" id="profileBtn" class="menu-button">
            Libri
        </button>
        </form>

        <form th:action="@{/adminChallenge}" method="get" style="display: inline;">
        <button type="submit" id="challengeBtn" class="menu-button">
        Challenge
        </button>
        </form>

    </nav>-->

    <div class="contenitore-principale">
        <nav class="profile-vertical-menu">
            <form th:action="@{/adminUsers}" method="get">
            <button type="submit" id="libraryBtn" class="menu-button">Utenti</button>
        </form>
        <form th:action="@{/adminLibri}" method="get">
            <button type="submit" id="myChallengeBtn" class="menu-button">Libri</button>
        </form>
        <form th:action="@{/adminChallenge}" method="get">
            <button type="submit" id="userDataBtn" class="menu-button">Challenge</button>
        </form>
            
        </nav>
    </div>

    </div>

</body>
</html>